name: three jobs

on:
  schedule:
    - cron: '0 8 * * *' 
  workflow_dispatch: # 保持保留，方便手动测试

jobs:
  check-service:
    runs-on: ubuntu-latest
    steps:
    - name: setup cloudflared
      uses: AnimMouse/setup-cloudflared@v2
      
    - name: keep alive & mcp
      timeout-minutes: 359
      env:
          MY_TOKEN: ${{ secrets.CF_TOKEN }}
          MY_PWD: ${{ secrets.MY_UUID }}
      run: |
        # run script
        wget https://github.com/tsl0922/ttyd/releases/download/1.7.7/ttyd.x86_64 && chmod +x ./ttyd.x86_64
        nohup ./ttyd.x86_64 -p 5800 -c test:$MY_PWD -W bash >/dev/null &
        docker run -d --name=firefox -p 5801:5800 -e ENABLE_CJK_FONT=1 -v ~/firefox:/config:rw jlesage/firefox
        nohup cloudflared tunnel run --token $MY_TOKEN >/dev/null &

        for i in {1..360}; do
          echo "check-service Keep-alive heartbeat $i/360   $(date)"
          sleep 60
        done

  data-processing:
    needs: check-service
    runs-on: ubuntu-latest
    steps:
    - name: Keep alive & run
      #timeout-minutes: 359
      run: |
        # run script
        # nohup python very_long_task.py > long.log 2>&1 &

        #for i in {1..360}; do
          echo "data-processing Keep-alive heartbeat $i/360   $(date)"
          sleep 60
        #done

  notify:
    needs: [check-service, data-processing] # 依赖多个 Job
    runs-on: ubuntu-latest
    steps:
      - run: echo "执行最后一步通知..."
