name: three jobs

on:
  #schedule:
    # 核心修改点：
    # 分钟：0,30 (每小时的第0分钟和第30分钟执行)
    # 小时：16-23 (从早上0点到上午7点)
    # 后面三个 * 分别代表：日、月、周
    # 注意：GitHub Action 使用的是 UTC 时间
    #- cron: '0,30 16-23 * * *' 
  workflow_dispatch: # 保持保留，方便手动测试

jobs:
  check-service:
    runs-on: ubuntu-latest
    steps:
      - run: echo "执行第一步检测..."

  data-processing:
    needs: check-service # 只有 check-service 成功，这个才运行
    runs-on: ubuntu-latest
    steps:
      - run: echo "执行第二步数据处理..."

  notify:
    needs: [check-service, data-processing] # 依赖多个 Job
    runs-on: ubuntu-latest
    steps:
      - run: echo "执行最后一步通知..."
